@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
nav {
    text-align: right;
    background-color:rgba(242, 230, 255, 0.5);
    padding:0.5%;
    color: #000000;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 30px;
}
h2 {
    text-align: right;
    padding: 0.5%;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}
body {
    background: #FFFFFF;
    background-size: cover;
    color: #fff;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
}



