body {
    text-align: left;
    background: url("http://orig09.deviantart.net/d37e/f/2007/281/f/0/ultraviolet__version_2_by_faded_ink.png");
    background-size: cover;
    color: #fff;
    font-family: Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-family:Helvetica, sans-serif;
    font-size: 30px;
}
