h1 {
    text-align: center;
    background-color:rgba(242, 230, 255, 0.5);
    color: #FFFFFF;
    font-family:Helvetica, sans-serif;
    font-size: 30px;
}
h3 {
    text-align: center;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}
body {
    background: url("http://orig09.deviantart.net/d37e/f/2007/281/f/0/ultraviolet__version_2_by_faded_ink.png");
    background-size: cover;
    color: #fff;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
}
p {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
