@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
* {margin:0;padding:0;box-sizing:border-box;}
body {
    background: #FFFFFF;
    background-size: cover;
    color: #222;
    font-family: 'Roboto', Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
}
header {
    background-color: #5C5B5B;
    padding: 20px;
}

nav {
    text-align: left;
    background-color:#5C5B5B;
    font-size: 2em;
}
footer {
    background-color:#5C5B5B;
    padding:20px;
    font-size: 2em;
}

h1 {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    background-color: #242222;
}

li {
    display: inline;
  
}
header div {
  float:left;
}
header nav {
  float:right;
}
#toprow img {
  float:left;
  border: 1px black solid;
  padding:20px;
  width:33.33%;
  background color: #FFE2B8;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

