@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
* {margin:0;padding:0;box-sizing:border-box;}
body {
    background: #FFFFFF;
    background-size: cover;
    color: #222;
    font-family: 'Roboto', Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
}
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    text-align: left;
    background-color:#E8C66A;
    border: 1px black solid;
    padding:20px;
    font-size: 2em;
}
footer {
    background-color:#FF957E;
    border: 1px black solid;
    padding:20px;
    font-size: 2em;
}

h1 {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    background-color:rgba(242, 230, 255, 0.5);
}

li {
    display: inline;
  
}
header div {
  float:left;
}
header nav {
  float:right;
}
#toprow img {
  float:left;
  border: 1px black solid;
  padding:20px;
  width:33.33%;
  background color: #FFE2B8;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
    
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 62%;
}
