@import url(https://fonts.googleapis.com/css?family=Mystery+Quest);
* {margin:0;padding:0;box-sizing:border-box;}
body {
	text-align: left;
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	font-size:16px;
}
section {
	padding:5em 0;
}
h1 {
	font-size:20px;
	text-align: center;
	color: #FFF;
}
h2{
	text-align: center;
  	font-size:2em;
  	font-style: italic;
}
p {
	margin-top:1em;
	font-size:16px;
  	line-height:1.5em;
  	margin:2em;

}
#splash {
	background:url(../images/newhomepageimage.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height: 70vh;
	padding: 10em 0 0;
	text-align:center;
}
.logo {
	margin:0 0 1em;
}
.cta {
	background:#ff0000;
	border-radius:.25em;
	color:#fff;
	display:inline-block;
	margin-top:1em;
	padding:1em 2em;
	text-decoration:none;
}
