body {
  text-align: center;
  background-color:#FFF;
  background-size: cover;
  color: #FF0000;
  font-family: Helvetica;
}
h1 {
  color: #000;
  font-size:48px;
}
p{
	text-align: left;
  	font-size:36px;
}