@import url(https://fonts.googleapis.com/css?family=Mystery+Quest);
* {margin:0;padding:0;box-sizing:border-box;}
body {
	text-align: left;
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	font-size:16px;
}
nav{
   background: #c0dec5;
   margin: 0em;
   /* padding: 2em 3em 0 3em; */
   text-align: center;
}
.column {
  	padding: 5em 1em;
  	font-size: 1.2em;
  	width: 50%;
  	float: left;
}
#main column {
	float: left;
}
#side column{
  float:right;
}
nav {
	background-color: orange;
	font-family: Arial, sans-serif;
	float: right;
}
nav a{
	color:white;
	text-decoration: none;
	display: inline-block;
	padding: 20px;
	/* margin: 1.8em; */
}
a:hover {
	color: rgba(255,255,255,.75);
}
header img {
	width: 10em;
    float: left;
    margin: .5em .5em 0;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear:both;
	height: 0;
	font-size: 0;
}
h1 {
	font-size:48px;
	text-align: center;
	color: #FFF;
	font-family:'Mystery Quest', cursive;
}
h2{
	text-align: center;
  	font-size:2em;
  	font-style: italic;
    padding-top: .8em;
    padding-bottom:.8em;
    border-bottom: 4px solid black;
    background: #c0dec5;
}
p {
	margin-top:1em;
	font-size:16px;
  	line-height:1.5em;
  	margin:2em;
} 
#splash {
	background:url(http://aelpcs.github.io/appletree_homepage/images/newimageforfellowwebsite.jpeg);
	background-size:cover;
	background-repeat:no-repeat;
	height: 85vh;
	padding: 10em 0 0;
	text-align:center;
}
#splash div {
    display: inline-block;
    background: orange;
    padding: 3em;
    border-radius: .25em;
} 
.logo {
	margin:0 0 1em;
} 
.cta{
	background:#ff0000;
	border-radius:.25em;     
	color:#fff;     
	display:inline-block;     
	margin-top:1em;     
	padding:1em 2em;     
	text-decoration:none;
}
.wrapper {
	max-width:75em;
	margin:auto;
}
#results {
	max-width:37.5em;
	margin:auto;
}
footer {
	text-align: center;   
	padding: 1em 0; 
	background: rgba(100,150,150,.5); 
	clear:both;
	margin-top:2em
}
